@import './cepheus/entrypoints/functional';
// @import '~normalize.css/normalize';
// @import '~normalize-opentype.css/normalize-opentype';
@import './cepheus/partials/index';

@each $map in $cepheus-state-initial {
  $property: map-get($map, 'property');
  $selector: map-get($map, 'selector');
  $value: map-get($map, 'value');

  #{$selector} {
    #{$property}: $value;
  }
}
