.cas {

  // Converted Variables
  // Custom Media Query Variables

  /*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

  .shadow-distant {
    box-shadow: 0 0 2px 8px rgba(31, 45, 61, 0.05);
  }

  .shadow-close {
    box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15);
  }

  .shadow-subtle {
    box-shadow: 0 0 1px 1px rgba(31, 45, 61, 0.15);
  }

  .shadow-emboss {
    box-shadow: inset 0 -2px 0 rgba(31, 45, 61, 0.15);
  }

  .shadow-deboss {
    box-shadow: inset 0 2px 0 rgba(31, 45, 61, 0.15);
  }

  .shadow-raise {
    box-shadow: 0 1px 1px 0 rgba(31, 45, 61, 0.05);
  }

  .shadow-depress {
    box-shadow: inset 0 1px 1px 0 rgba(31, 45, 61, 0.05);
  }

  @media #{$breakpoint-not-small} {
    .shadow-distant-ns {
      box-shadow: 0 0 2px 8px rgba(31, 45, 61, 0.05);
    }

    .shadow-close-ns {
      box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-subtle-ns {
      box-shadow: 0 0 1px 1px rgba(31, 45, 61, 0.15);
    }

    .shadow-emboss-ns {
      box-shadow: inset 0 -2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-deboss-ns {
      box-shadow: inset 0 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-raise-ns {
      box-shadow: 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }

    .shadow-depress-ns {
      box-shadow: inset 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }
  }

  @media #{$breakpoint-medium} {
    .shadow-distant-m {
      box-shadow: 0 0 2px 8px rgba(31, 45, 61, 0.05);
    }

    .shadow-close-m {
      box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-subtle-m {
      box-shadow: 0 0 1px 1px rgba(31, 45, 61, 0.15);
    }

    .shadow-emboss-m {
      box-shadow: inset 0 -2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-deboss-m {
      box-shadow: inset 0 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-raise-m {
      box-shadow: 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }

    .shadow-depress-m {
      box-shadow: inset 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }
  }

  @media #{$breakpoint-large} {
    .shadow-distant-l {
      box-shadow: 0 0 2px 8px rgba(31, 45, 61, 0.05);
    }

    .shadow-close-l {
      box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-subtle-l {
      box-shadow: 0 0 1px 1px rgba(31, 45, 61, 0.15);
    }

    .shadow-emboss-l {
      box-shadow: inset 0 -2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-deboss-l {
      box-shadow: inset 0 2px 0 rgba(31, 45, 61, 0.15);
    }

    .shadow-raise-l {
      box-shadow: 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }

    .shadow-depress-l {
      box-shadow: inset 0 1px 1px 0 rgba(31, 45, 61, 0.05);
    }
  }
}
