/*

  CAS COMPONENT

*/

@mixin cas-component-scale ($modifier) {
  font-size: $modifier * 1rem;
}

.cas {
  .cas-component {
    @include clearfix;

    font-size: inherit;
    vertical-align: inherit;
    color: inherit;
    color: currentColor;
  }

  .s1 {
    @include cas-component-scale(3);
  }

  .s2 {
    @include cas-component-scale(2.25);
  }

  .s3 {
    @include cas-component-scale(1.5);
  }

  .s4 {
    @include cas-component-scale(1.25);
  }

  .s5 {
    @include cas-component-scale(1);
  }

  .s6 {
    @include cas-component-scale(0.875);
  }

  .s7 {
    @include cas-component-scale(0.75);
  }

  @media #{$breakpoint-not-small} {
    .s1-ns {
      @include cas-component-scale(3);
    }

    .s2-ns {
      @include cas-component-scale(2.25);
    }

    .s3-ns {
      @include cas-component-scale(1.5);
    }

    .s4-ns {
      @include cas-component-scale(1.25);
    }

    .s5-ns {
      @include cas-component-scale(1);
    }

    .s6-ns {
      @include cas-component-scale(0.875);
    }

    .s7-ns {
      @include cas-component-scale(0.75);
    }
  }

  @media #{$breakpoint-medium} {
    .s1-m {
      @include cas-component-scale(3);
    }

    .s2-m {
      @include cas-component-scale(2.25);
    }

    .s3-m {
      @include cas-component-scale(1.5);
    }

    .s4-m {
      @include cas-component-scale(1.25);
    }

    .s5-m {
      @include cas-component-scale(1);
    }

    .s6-m {
      @include cas-component-scale(0.875);
    }

    .s7-m {
      @include cas-component-scale(0.75);
    }
  }

  @media #{$breakpoint-large} {
    .s1-l {
      @include cas-component-scale(3);
    }

    .s2-l {
      @include cas-component-scale(2.25);
    }

    .s3-l {
      @include cas-component-scale(1.5);
    }

    .s4-l {
      @include cas-component-scale(1.25);
    }

    .s5-l {
      @include cas-component-scale(1);
    }

    .s6-l {
      @include cas-component-scale(0.875);
    }

    .s7-l {
      @include cas-component-scale(0.75);
    }
  }
}
