$cepheus-spacing-none: 0 !default;
$cepheus-spacing-extra-small: 0.25rem !default;
$cepheus-spacing-small: 0.5rem !default;
$cepheus-spacing-medium: 1rem !default;
$cepheus-spacing-large: 2rem !default;
$cepheus-spacing-extra-large: 4rem !default;
$cepheus-spacing-extra-extra-large: 8rem !default;
$cepheus-spacing-extra-extra-extra-large: 16rem !default;
