@mixin cepheus-partial-class($input, $property-map) {
  $properties: (
    'azimuth',
    'border-collapse',
    'border-spacing',
    'caption-side',
    'color',
    'cursor',
    'direction',
    'elevation',
    'empty-cells',
    'font-family',
    'font-size',
    'font-style',
    'font-variant',
    'font-weight',
    'font',
    'letter-spacing',
    'line-height',
    'list-style-image',
    'list-style-position',
    'list-style-type',
    'list-style',
    'orphans',
    'pitch-range',
    'pitch',
    'quotes',
    'richness',
    'speak-header',
    'speak-numeral',
    'speak-punctuation',
    'speak',
    'speech-rate',
    'stress',
    'text-align',
    'text-indent',
    'text-transform',
    'visibility',
    'voice-family',
    'volume',
    'white-space',
    'widows',
    'word-spacing'
  );

  @each $property, $value in $property-map {
    $selector: if(type-of($input) == 'list' and length($input) != 1, cepheus-selector-nest($input), cepheus-unquote-if-string($input));
    $value: cepheus-unquote-if-string($value);

    $cepheus-state-initial: append($cepheus-state-initial, ('property': $property, 'selector': $selector, 'value': $value)) !global;

    @if cepheus-contains($properties, $property) {
      #{$selector} > * {
        #{unquote($property)}: initial;
      }
    }

    // #{$selector} {
    //   #{unquote($property)}: $value;
    // }
  }
}
