
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  src:
    local('Rubik Regular'),
    local('Rubik-Regular'),
    url('fonts/Rubik-Regular.woff') format('woff'),
    url('fonts/Rubik-Regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: normal;
  src:
    local('Rubik Italic'),
    local('Rubik-Italic'),
    url('fonts/Rubik-Italic.woff') format('woff'),
    url('fonts/Rubik-Italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  src:
    local('Rubik Medium'),
    local('Rubik-Medium'),
    url('fonts/Rubik-Medium.woff') format('woff'),
    url('fonts/Rubik-Medium.woff2') format('woff2');
}


@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: bold;
  src:
    local('Rubik Medium Italic'),
    local('Rubik-Medium-Italic'),
    local('Rubik MediumItalic'),
    url('fonts/Rubik-MediumItalic.woff') format('woff'),
    url('fonts/Rubik-MediumItalic.woff2') format('woff2');
}
