// Custom Media Query Variables

// $breakpoint-not-small: 'screen and (min-width: 30em)' !default;
// $breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 60em)' !default;
// $breakpoint-large: 'screen and (min-width: 60em)' !default;

/*

  CUSTOM MEDIA QUERIES

  Media query values can be changed to fit your own content.
  There are no magic bullets when it comes to media query width values.
  They should be declared in em units - and they should be set to meet
  the needs of your content. You can also add additional media queries,
  or remove some of the existing ones.

*/

@function cas-get-breakpoint($context, $no-query: false) {
  @if type-of($BREAKPOINTS) != 'map' {
    // Just in case someone writes gibberish to the $breakpoints variable.
    @warn "Your breakpoints aren't a map! `respond-to` expects a map. Please check the value of $BREAKPOINTS variable.";
  }

  @else if map-has-key($BREAKPOINTS, $context) {
    @return breakpoint(map-get($BREAKPOINTS, $context), $no-query);
  }
}

/* Media Queries */
$breakpoint-not-small: map-get(cas-get-breakpoint(not-small), 'query') !default;
$breakpoint-medium: map-get(cas-get-breakpoint(medium), 'query') !default;
$breakpoint-large: map-get(cas-get-breakpoint(large), 'query') !default;
