@mixin cas-type-scale ($modifier) {
  @include plumber(
    $grid-height: 1rem,
    $font-size: $modifier,
    $line-height: round($modifier * $golden),
    $leading-top: 0,
    $leading-bottom: round($modifier)
  );
}

.cas {

  // Converted Variables
  // Custom Media Query Variables

  /*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

  /*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */

  .f-6,
  .f-headline {
    @include cas-type-scale(6);
  }

  .f-5,
  .f-subheadline {
    @include cas-type-scale(5);
  }

  /* Type Scale */

  .f1 {
    @include cas-type-scale(3);
  }

  .f2 {
    @include cas-type-scale(2.25);
  }

  .f3 {
    @include cas-type-scale(1.5);
  }

  .f4 {
    @include cas-type-scale(1.25);
  }

  .f5 {
    @include cas-type-scale(1);
  }

  .f6 {
    @include cas-type-scale(0.875);
  }

  .f7 {
    @include cas-type-scale(0.75);
  }

  @media #{$breakpoint-not-small} {
    .f-6-ns,
    .f-headline-ns {
      @include cas-type-scale(6);
    }

    .f-5-ns,
    .f-subheadline-ns {
      @include cas-type-scale(5);
    }

    .f1-ns {
      @include cas-type-scale(3);
    }

    .f2-ns {
      @include cas-type-scale(2.25);
    }

    .f3-ns {
      @include cas-type-scale(1.5);
    }

    .f4-ns {
      @include cas-type-scale(1.25);
    }

    .f5-ns {
      @include cas-type-scale(1);
    }

    .f6-ns {
      @include cas-type-scale(0.875);
    }

    .f7-ns {
      @include cas-type-scale(0.75);
    }
  }

  @media #{$breakpoint-medium} {
    .f-6-m,
    .f-headline-m {
      @include cas-type-scale(6);
    }

    .f-5-m,
    .f-subheadline-m {
      @include cas-type-scale(5);
    }

    .f1-m {
      @include cas-type-scale(3);
    }

    .f2-m {
      @include cas-type-scale(2.25);
    }

    .f3-m {
      @include cas-type-scale(1.5);
    }

    .f4-m {
      @include cas-type-scale(1.25);
    }

    .f5-m {
      @include cas-type-scale(1);
    }

    .f6-m {
      @include cas-type-scale(0.875);
    }

    .f7-m {
      @include cas-type-scale(0.75);
    }
  }

  @media #{$breakpoint-large} {
    .f-6-l,
    .f-headline-l {
      @include cas-type-scale(6);
    }

    .f-5-l,
    .f-subheadline-l {
      @include cas-type-scale(5);
    }

    .f1-l {
      @include cas-type-scale(3);
    }

    .f2-l {
      @include cas-type-scale(2.25);
    }

    .f3-l {
      @include cas-type-scale(1.5);
    }

    .f4-l {
      @include cas-type-scale(1.25);
    }

    .f5-l {
      @include cas-type-scale(1);
    }

    .f6-l {
      @include cas-type-scale(0.875);
    }

    .f7-l {
      @include cas-type-scale(0.75);
    }
  }
}
