$cepheus-text-decoration: (
  'strike': ('text-decoration': 'line-through'),
  'underline': ('text-decoration': 'underline'),
  'no-underline': ('text-decoration': 'none')
) !default;

$cepheus-opacity: (
  o-100: ('opacity': 1),
  o-90: ('opacity': 0.9),
  o-80: ('opacity': 0.8),
  o-70: ('opacity': 0.7),
  o-60: ('opacity': 0.6),
  o-50: ('opacity': 0.5),
  o-40: ('opacity': 0.4),
  o-30: ('opacity': 0.3),
  o-20: ('opacity': 0.2),
  o-10: ('opacity': 0.1),
  o-05: ('opacity': 0.05),
  o-025: ('opacity': 0.025),
  o-0: ('opacity': 0)
) !default;

$cepheus-letter-spacing: (
  'tracked': ('letter-spacing': 0.1em),
  'tracked-tight': ('letter-spacing': -0.05em),
  'tracked-mega': ('letter-spacing': 0.25em)
) !default;

$cepheus-borders: (
  'ba': ('border-style': solid, 'border-width': 1px),
  'bt': ('border-top-style': solid, 'border-top-width': 1px),
  'br': ('border-right-style': solid, 'border-right-width': 1px),
  'bb': ('border-bottom-style': solid, 'border-bottom-width': 1px),
  'bl': ('border-left-style': solid, 'border-left-width': 1px),
  'bn': ('border-style': none, 'border-width': 0)
) !default;

$cepheus-border-widths: (
  bw0: ('border-width': 0),
  bw1: ('border-width': 0.125rem),
  bw2: ('border-width': 0.25rem),
  bw3: ('border-width': 0.5rem),
  bw4: ('border-width': 1rem),
  bw5: ('border-width': 2rem),
  bt-0: ('border-top-width': 0),
  br-0: ('border-right-width': 0),
  bb-0: ('border-bottom-width': 0),
  bl-0: ('border-left-width': 0)
) !default;

$cepheus-border-styles: (
  'b--dotted': ('border-style': dotted),
  'b--dashed': ('border-style': dashed),
  'b--solid': ('border-style': solid),
  'b--none': ('border-style': none),
) !default;

$cepheus-border-radius: (
  br0: ('border-radius': 0),
  br1: ('border-radius': 0.125rem),
  br2: ('border-radius': 0.25rem),
  br3: ('border-radius': 0.5rem),
  br4: ('border-radius': 1rem),
  br-100: ('border-radius': 100%),
  'br-pill': ('border-radius': 9999px),
  'br--top': ('border-bottom-left-radius': 0, 'border-bottom-right-radius': 0),
  'br--right': ('border-top-left-radius': 0, 'border-bottom-left-radius': 0),
  'br--bottom': ('border-top-left-radius': 0, 'border-top-right-radius': 0),
  'br--left': ('border-top-right-radius': 0, 'border-bottom-right-radius': 0)
) !default;

$cepheus-box-shadow: (
  shadow-1: (box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2)),
  shadow-2: (box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2)),
  shadow-3: (box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2)),
  shadow-4: (box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)),
  shadow-5: (box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2))
) !default;

$cepheus-z-index: (
  z-0: (z-index: 0),
  z-1: (z-index: 1),
  z-2: (z-index: 2),
  z-3: (z-index: 3),
  z-4: (z-index: 4),
  z-5: (z-index: 5),
  z-999: (z-index: 999),
  z-9999: (z-index: 9999),
  z-max: (z-index: 2147483647),
  z-inherit: (z-index: inherit),
  z-initial: (z-index: initial),
  z-unset: (z-index: unset),
) !default;

$cepheus-word-break: (
  'word-normal': ('word-break': normal),
  'word-wrap': ('word-break': break-all),
  'word-nowrap': ('word-break': keep-all)
) !default;

$cepheus-white-space: (
  'ws-normal': ('white-space': normal),
  'nowrap': ('white-space': nowrap),
  'pre': ('white-space': pre)
) !default;

$cepheus-vertical-align: (
  'v-base': ('vertical-align': baseline),
  'v-mid': ('vertical-align': middle),
  'v-top': ('vertical-align': top),
  'v-btm': ('vertical-align': bottom),
) !default;
