@mixin cepheus-register($name, $input, $property-map, $breakpoint: false) {
  @if type-of($name) != 'string' {
    @error('Partial name is invalid');
  }

  @if type-of($breakpoint) == 'string' {
    @if not cepheus-breakpoint-exists($breakpoint) {
      @error('Breakpoint #{$breakpoint} does not exist')
    }
  }

  $selector: if(type-of($input) == 'list' and length($input) != 1, cepheus-selector-nest($input), cepheus-unquote-if-string($input));
  $cepheus-state: append($cepheus-state,
    (
      'name': $name,
      'breakpoint': $breakpoint,
      'property-map': $property-map,
      'selector': $selector,
    )
  ) !global;
}

@mixin cepheus-reset-inheritance ($enabled) {
  @each $map in $cepheus-state {
    $name: map-get($map, 'name');

    @if cepheus-contains($enabled, $name) {
      $breakpoint: map-get($map, 'breakpoint');
      $property-map: map-get($map, 'property-map');
      $selector: map-get($map, 'selector');

      @if cepheus-contains-any($cepheus-inhertiable-properties, cepheus-to-list($property-map, 'keys')) {
        @if cepheus-breakpoint-exists($breakpoint) {
          @include respond-to($breakpoint) {
            #{$selector} > * {
              @each $property, $_ in $property-map {
                @if cepheus-contains-any($cepheus-inhertiable-properties, $property) {
                  #{unquote($property)}: initial;
                }
              }
            }
          }
        } @else {
          #{$selector} > * {
            @each $property, $_ in $property-map {
              @if cepheus-contains-any($cepheus-inhertiable-properties, $property) {
                #{unquote($property)}: initial;
              }
            }
          }
        }
      }
    }
  }
}

@mixin cepheus-partials ($enabled) {
  @each $map in $cepheus-state {
    $name: map-get($map, 'name');

    @if cepheus-contains($enabled, $name) {
      $breakpoint: map-get($map, 'breakpoint');
      $property-map: map-get($map, 'property-map');
      $selector: map-get($map, 'selector');

      @if cepheus-breakpoint-exists($breakpoint) {
        @include respond-to($breakpoint) {
          #{$selector} {
            @each $property, $value in $property-map {
              #{unquote($property)}: cepheus-unquote-if-string($value);
            }
          }
        }
      } @else {
        #{$selector} {
          @each $property, $value in $property-map {
            #{unquote($property)}: cepheus-unquote-if-string($value);
          }
        }
      }
    }
  }
}

@mixin cepheus ($enabled: $cepheus-imports) {
  @include cepheus-reset-inheritance($enabled);
  @include cepheus-partials($enabled);
}
