@function cepheus-selector-nest($list) {
  $list: selector-nest($list);
  $result: ();

  @each $selector in $list {
    $result: join($result, unquote-if-string($selector), space, false);
  }

  @return $result;
}

@mixin cepheus-partial-class($input, $propertyMap) {
  $properties: (
    'azimuth',
    'border-collapse',
    'border-spacing',
    'caption-side',
    'color',
    'cursor',
    'direction',
    'elevation',
    'empty-cells',
    'font-family',
    'font-size',
    'font-style',
    'font-variant',
    'font-weight',
    'font',
    'letter-spacing',
    'line-height',
    'list-style-image',
    'list-style-position',
    'list-style-type',
    'list-style',
    'orphans',
    'pitch-range',
    'pitch',
    'quotes',
    'richness',
    'speak-header',
    'speak-numeral',
    'speak-punctuation',
    'speak',
    'speech-rate',
    'stress',
    'text-align',
    'text-indent',
    'text-transform',
    'visibility',
    'voice-family',
    'volume',
    'white-space',
    'widows',
    'word-spacing'
  );

  @each $property, $value in $propertyMap {
    $selector: if(type-of($input) == 'list' and length($input) != 1, cepheus-selector-nest($input), '.' + unquote-if-string($input));

    #{$selector} {
      #{unquote($property)}: unquote-if-string($value);
    }

    @if contains($properties, $property) {
      #{$selector} > * {
        #{unquote($property)}: initial;
      }
    }
  }
}
