@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: inherit;
  // font-family: inherit;
  vertical-align: baseline;

  & > *,
  & > *::before,
  & > *::after {
    box-sizing: inherit;
  }
}
