.cas--debug {
  background-image: linear-gradient(to top, rgba(242, 201, 76, 0.5) 0, rgba(242, 201, 76, 0.5) 1px, transparent 1px);
  background-size: 100% 0.25rem;
}

.cas--debug * {
  outline: 1px dashed gold;
}

.cas--debug-white * {
  outline: 1px solid white;
}

.cas--debug-black * {
  outline: 1px solid black;
}
